html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* global styles */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.vissually-hidden {
  position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  margin-bottom: 70px;
}

/* header */
.header {
  margin-bottom: 70px;
  padding-top: 30px;
}

.header-top {
  align-items: center;
  margin-bottom: 30px;
}

.header-logo {
  margin-right: 34px;
}

.header-phone {
  margin-right: auto;
}

.header-bottom {
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  padding: 10px 45px;
}

.header-list {
  padding-right: 56px;
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}

.header-btn:not(:last-child) {
  margin-right: 40px;
}
