:root {
  --black: #000;
  --white: #FFF;
  --grey: #999;
  --white-grey: #E1E1E1;
  --dark-grey: #666;
  --yellow: #CC9933;
  --light-yellow: #E9C479;
  --dark-yellow: #A47312;
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Medium'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
  min-width: 1200px;
  background-color: #F1F1F1;
  font-family: 'Muller', 'sans-serif';
  font-weight: 400;
  font-display: swap;
}

img {
  max-width: 100%;
}

/* global styles */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.visually-hidden {
  position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.section-title {
  margin: 0;
  padding-left: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  margin-bottom: 70px;
}

.section:last-child {
  margin-bottom: 19px;
}

.link {
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
  color: var(--yellow);
  text-decoration: none;
  transition: color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.link:focus-visible {
  outline: none;
  outline: 1px solid var(--yellow);
  outline-offset: 5px;
}

.link:hover:not(:focus-visible) {
  color: var(--light-yellow);
}

.link:active:not(:focus-visible) {
  color: var(--dark-yellow);
}

.btn {
  height: 42px;
  border: 1px solid var(--yellow);
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  line-height: 16px;
  color: var(--yellow);
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn:focus-visible {
  background-color: var(--yellow);
  color: var(--white);
}

.btn:hover:not(:focus-visible) {
  background-color: var(--yellow);
  color: var(--white);
}

.btn:active:not(:focus-visible) {
  background-color: var(--dark-yellow);
  border-color: var(--dark-yellow);
  color: var(--white);
}

/* header */
.header {
  margin-bottom: 70px;
  padding-top: 30px;
}

.header-top {
  align-items: center;
  margin-bottom: 30px;
}

.header-logo-link {
  position: relative;
  margin-right: 34px;
  outline: none;
  font-size: 0;
}

.header-logo-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 1px solid var(--yellow);
  outline-offset: 5px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.header-logo-link:focus-visible::before {
  opacity: 1;
}

.header-phone {
  margin-right: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--dark-grey);
  text-decoration: none;
  transition: color 0.2s ease-in-out, outline 0.2s ease-in-out;
}

.header-phone:focus-visible {
  outline: 1px solid var(--yellow);
  outline-offset: 5px;
  color: var(--yellow);
}

.header-phone:hover:not(:focus-visible) {
  color: var(--yellow);
}

.header-phone:active:not(:focus-visible) {
  color: var(--dark-yellow);
}

.authorization-arrow{
  margin-right: 7px;
  fill: var(--yellow);
  transition: fill 0.2s ease-out;
}

.authorization:hover:not(:focus-visible) .autorization-arrow{
  fill: var(--light-yellow);
}

.authorization:active:not(:focus-visible) .autorization-arrow{
  fill: var(--yellow);
}

.authorization-text {
  line-height: 0;
}

.header-bottom {
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  padding: 0 45px;
  background-color: var(--white);
  border-radius: 15px;
}

.header-nav {
  padding: 10px 0;
  padding-right: 56px;
  border-right: 1px solid var(--white-grey);
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}

.header-link {
  font-size: 16px;
  line-height: 16px;
  color: var(--dark-grey);
  text-decoration: none;
  transition: color 0.2s ease-in-out, outline 0.2s ease-in-out;
}

.header-link:focus-visible {
  outline: 1px solid var(--yellow);
  outline-offset: 5px;
  color: var(--yellow);
}

.header-link:hover:not(:focus-visible) {
  color: var(--yellow);
}

.header-link:active:not(:focus-visible) {
  color: var(--dark-yellow);
}

.header-btn-first {
  width: 107px;
}

.header-btn-second {
  width: 177px;
}

.header-btn:not(:last-child) {
  margin-right: 40px;
}

/* offers */
.offers-title {
  margin-bottom: 20px;
}

.offers-left {
  flex-direction: column;
  margin-right: 23px;
}

.offers-left .offer:not(:last-child) {
  margin-bottom: 23px;
}

.offer {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  width: 573px;
  padding: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 15px;
}

.offers-left .offer {
  flex: 1;
  min-height: 258px;
}

.offer-left-first {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/offer-left-1.jpg');
}

.offer-left-second {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/offer-left-2.jpg');
}

.offer-right {
  justify-content: flex-end;
  background-image: url('../img/offer-right.jpg');
}

.offer-title {
  max-width: 300px;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: var(--white);
}

.offer-right-title {
  font-size: 60px;
  line-height: 60px;
}

.offer-price {
  max-width: 300px;
  margin-bottom: 47px;
  font-size: 20px;
  line-height: 20px;
  color: var(--white);
  opacity: 0.8;
}

.offer-right-price {
  font-size: 30px;
  line-height: 30px;
}

.offer-link {
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: #FFCC66;
  transition: color 0.2s ease-in-out;
}

.offer-link-arrow {
  transition: transform 0.2s ease-in-out;
}

.offer-link:focus-visible {
  outline: 0;
}

.offer-link:hover:not(:focus-visible) .offer-link-arrow {
  transform: translateX(11px);
}

.offer-link:active:not(:focus-visible) {
  color: var(--white);
}

.offer-link:active:not(:focus-visible) .offer-link-arrow {
  transform: none;
}

.offer-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 1px solid var(--yellow);
  outline-offset:  8px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.offer-link:focus-visible::before {
  opacity: 1;
}


.offer-link-more {
  margin-right: 7px;
}

/* about-us */
.about-us-title {
  margin-bottom: 11px;
}

.about-us-text {
  max-width: 888px;
  margin: 0;
  font-size: 16px;
  line-height: 200%;
  color: var(--black);
}

/* services */
.services-title {
  margin-bottom: 20px;
}

.services-list {
  flex-wrap: wrap;
}

.services-item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 23px;
}

.services-item:not(:nth-child(2n)) {
  margin-right: 23px;
}

.services-preview {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  width: 573px;
  min-height: 330px;
  padding: 191px 45px 26px;
  background: var(--white);
  border-radius: 15px;
}

.services-preview::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 165px;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services-preview-first::before {
  background-image: url('../img/serv-1.png');
}

.services-preview-second::before {
  background-image: url('../img/serv-2.png');
}

.services-preview-third::before {
  background-image: url('../img/serv-3.png');
}

.services-preview-fourth::before {
  background-image: url('../img/serv-4.png');
}

.services-preview-link {
  align-items: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
}

.services-preview-arrow {
  stroke: var(--yellow);
  transition: transform 0.2s ease-in-out, stroke 0.2s ease-in-out;
}

.services-preview-link:focus-visible {
  outline: none;
}

.services-preview-link:hover:not(:focus-visible) .services-preview-arrow {
  transform: translateX(11px);
  stroke: var(--light-yellow);
}

.services-preview-link:active:not(:focus-visible) .services-preview-arrow {
  transform: none;
  stroke: var(--yellow);
}

.services-preview-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 1px solid var(--yellow);
  outline-offset:  8px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.services-preview-link:focus-visible::before {
  opacity: 1;
}

.services-preview-title {
  margin: 0;
  margin-right: 7px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
}

.services-preview-descr {
  max-width: 402px;
  margin: 0;
}

/* benefits */
.benefits-title {
  margin-bottom: 30px;
}

.benefits-list {
  flex-wrap: wrap;
}

.benefits-item {
  position: relative;
  width: 275px;
  min-height: 275px;
  padding: 45px;
  padding-top: 116px;
  background: var(--white);
  border-radius: 15px;
}

.benefits-item::before {
  position: absolute;
  content: '';
  width: 66px;
  height: 66px;
  top: 40px;
  left: 45px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.benefits-item-bath::before {
background-image: url('../img/bathtub.svg');
}

.benefits-item-hanger::before {
background-image: url('../img/hanger.svg');
}

.benefits-item-heating::before {
background-image: url('../img/heating.svg');
}

.benefits-item-key::before {
background-image: url('../img/hotel-key.svg');
}

.benefits-item-parking::before {
background-image: url('../img/parking.svg');
}

.benefits-item-reception::before {
background-image: url('../img/reception.svg');
}

.benefits-item-security::before {
background-image: url('../img/security-box.svg');
}

.benefits-item-swimming::before {
background-image: url('../img/swimming-pool.svg');
}

.benefits-item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 23px;
}

.benefits-item:not(:nth-child(4n)) {
  margin-right: 23px;
}

.benefits-descr {
  margin: 0;
  font-size: 16px;
  line-height: 200%;
  color: var(--black);
}

/* accomodations */
.accommodations-title {
  margin-bottom: 30px;
}

.hotels-list {
  flex-wrap: wrap;
}

.hotel-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 23px;
}

.hotel-item:not(:nth-child(3n)) {
  margin-right: 23px;
}

.hotel {
  width: 374px;
  min-height: 440px;
  background: var(--white);
  border-radius: 15px;
}

.hotel-img {
  display: block;
  object-fit: cover;
}

.hotel-text {
  flex-direction: column;
  padding: 36px 45px;
}

.hotel-price-stars {
  margin-bottom: 16px;
}

.hotel-price {
  margin-right: auto;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
}

.hotel-price-element-first {
  color: var(--grey);
}

.hotel-price-element-second {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.hotel-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
}

.hotel-place {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 16px;
  color: var(--grey);
}

.hotel-btn {
  width: 100px;
}

.all-hotel {
  position: relative;
  align-items: flex-end;
  justify-content: center;
  padding: 27px;
  background-image: url('../img/all-hotels.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.all-hotel-link {
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--white);
}

.all-hotel-link:focus-visible {
  outline: none;
  color: var(--yellow);
}

.all-hotel-link:focus-visible .all-hotel-link-arrow{
  stroke: var(--yellow);
}

.all-hotel-link-arrow {
  stroke: var(--white);
  transition: transform 0.2s ease-in-out, stroke 0.2s ease-in-out;
}

.all-hotel-link:hover:not(:focus-visible) .all-hotel-link-arrow {
  transform: translateX(11px);
  stroke: var(--light-yellow);
}

.all-hotel-link:active:not(:focus-visible) .all-hotel-link-arrow {
  transform: none;
  stroke: var(--yellow);
}

.all-hotel-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.all-hotel-link-more {
  margin-right: 7px;
}

/* want-tour */
.want-tour-wrapper {
  padding: 38px 0 71px;
  background: #E9E9E9;
  border-radius: 15px;
}

.want-tour-title {
  margin-bottom: 19px;
}

.form {
  padding: 0 45px;
}

.form-wrapper {
  align-items: center;
  min-height: 106px;
  padding: 0 28px;
  background: var(--white);
  border-radius: 15px;
}

.form-list {
  padding: 0;
}

.form-item {
  flex-direction: column;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #E1E1E1;;
}

.form-label {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 12px;
  color: var(--black)
}

.form-input {
  border: none;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
}

.form-input:focus {
  outline: none ;
}

.form-select {
  min-width: 169px;
}

.form-date, .form-num {
  min-width: 121px;
}

.form-num {
  border-bottom: 1px solid #CCC;
}

.form-input::-webkit-inner-spin-button,
.form-input::-webkit-outer-spin-button {
  opacity: 1;
}

.form-btn {
  width: 108px;
}

/* contacts */
.contacts-title {
  margin-bottom: 26px;
}

.contacts-wrapper {
  padding: 45px;
  background: var(--white);
  border-radius: 15px;
}

.contacts-addres {
  flex-direction: column;
  align-items: flex-start;
  margin-right: 50px;
}

.contacts-list {
  width: 375px;
  margin: 0;
  padding: 0;

}

.contacts-item {
  margin-bottom: 25px;
  padding-bottom: 23px;
  border-bottom: 1px solid #C4C4C4;
}

.contacts-item:last-child {
  margin-bottom: 45px;
}

.contacts-item-title {
  min-width: 145px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--black);
}

.contacts-item-wrapper {
  flex-direction: column;
}

.contacts-item-descr {
  line-height: 150%;
  font-style: normal;
}

.contacts-link {
  max-width: max-content;
  line-height: 150%;
}

.contacts-link:focus-visible {
  outline-offset: 0;
}

.contacts-link-descr {
  line-height: 150%;
  font-style: normal;
  color: var(--grey);
}

.contacts-link-descr:not(:last-child) {
  margin-bottom: 3px;
}

.contacts-btn {
  min-width: 213px;
  min-height: 70px;
  font-weight: 700;
}

.contacts-img {
  display: block;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}

/* footer */
.footer {
  padding-bottom: 20px;
}

.footer-wrapper {
  padding: 45px 51px;
  background: #333;
  border-radius: 15px;
  background-image: url('../img/footer-bg.svg');
  background-repeat: no-repeat;
  background-position: 737px 113px;
}

.footer-left {
  flex-direction:column;
  justify-content: space-between;
  max-width: 320px;
  min-height:  251px;
  margin-right: 102px;
}

.footer-left-descr {
  margin: 0;
  font-size: 16px;
  line-height: 190%;
  color: var(--white);
}

.footer-link {
  max-width: max-content;
  line-height: 150%;
}

.footer-link:focus-visible {
  outline-offset: 0;
}

.footer-contacts {
  flex-direction: column;
  min-width: 358px;
  margin-right: auto;
  padding-top: 7px;
}

.footer-contacts-address {
  margin: 0;
  margin-bottom: 14px;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: var(--white);
}

.footer-links-wrapper {
  flex-direction: column;
}

.footer-links-tel {
  margin-bottom: 15px;
}

.social-list {
  margin: 0;
  padding: 0;
  padding-top: 7px;
  list-style: none;
  line-height: 0;
}

.social-item:not(:last-child) {
  margin-bottom: 20px;
}

.social-link {
  outline: none;
  font-size: 0;
}

.social-img {
  fill: var(--grey);
  transition: fill 0.3s ease-in-out;
}

.social-link:focus-visible .social-img {
  outline: none;
  fill: var(--yellow);
  transition: fill 0.3s ease-in-out;
}

.social-img:hover:not(:focus-visible) {
  fill: var(--yellow);
  transition: fill 0.3s ease-in-out;
}

.social-img:active:not(:focus-visible) {
  fill: var(--dark-yellow);
  transition: fill 0.3s ease-in-out;
}
